# Visual Studio project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual Studio solution files
*.suo
*.sln
*.sdf
*.opensdf

# Netbeans project directory
nbproject

# Intermediate build files
*.o
*.d
