# Visual Studio project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual Studio solution files
*.suo
*.sln
*.sdf
*.opensdf

# Intermediate build files
*.o

# Build directory.
build/*

# Output from Flex and Bison
cpps/cpps/cpps.lex.cpp
cpps/cpps/cpps.lex.h
cpps/cpps/cpps.tab.cpp
cpps/cpps/cpps.tab.hpp

# OS Files
.DS_Store
